<app-header></app-header>

<div class="container mt-4">
  <div class="row">
    <!-- BACKLOG -->
    <div class="col-md-4">
      <div class="card border-primary">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>Backlog</span>
          <button class="btn btn-sm btn-outline-primary rounded-circle" (click)="openAddTaskModal()">+</button>
        </div>
        <div class="card-body">
          <div *ngFor="let task of backlogTasks; let i = index" class="mb-2 border p-2 rounded bg-light">
            <strong>{{ task.title }}</strong>
            <p class="mb-0">{{ task.description }}</p>
            <small class="mb-0">Prioridade: {{ task.priority }}</small> <br>
            <small class="mb-0">Categoria: {{ task.category }}</small>  <br>
            <small class="mb-0" [ngClass]="getDueDateColor(task)">
              Data de entrega: {{formatDate(task.dueDate) }}
            </small>
            <br>
            <button
              *ngIf="i === 0"
              class="btn btn-sm btn-outline-primary mt-2"
              (click)="moveToDoing()">
              Mover para 'Em andamento'
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- EM ANDAMENTO -->
    <div class="col-md-4">
      <div class="card border-warning">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>Em andamento</span>
        </div>
        <div class="card-body">
          <div *ngFor="let task of doingTasks; let i = index" class="mb-2 border p-2 rounded bg-light">
            <strong>{{ task.title }}</strong>
            <p class="mb-0">{{ task.description }}</p>
            <small class="mb-0">Prioridade: {{ task.priority }}</small> <br>
            <small class="mb-0">Categoria: {{ task.category }}</small>  <br>
            <small class="mb-0" [ngClass]="getDueDateColor(task)">
              Data de entrega: {{ formatDate(task.dueDate) }}
            </small>
            <br>
            <button
              *ngIf="i === 0"
              class="btn btn-sm btn-outline-warning mt-2"
              (click)="moveToDone()">
              Mover para 'Concluído'
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- CONCLUÍDO -->
    <div class="col-md-4">
      <div class="card border-success">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>Concluído</span>
        </div>
        <div class="card-body">
          <div *ngFor="let task of doneTasks; let i = index" class="mb-2 border p-2 rounded bg-light">
            <strong>{{ task.title }}</strong>
            <p class="mb-0">{{ task.description }}</p>
            <small class="mb-0">Categoria: {{ task.category }}</small>  <br>
            <small class="mb-0" [ngClass]="getDueDateColor(task)">
              Data de entrega: {{ formatDate(task.dueDate) }}
            </small>
            <button
              *ngIf="i === 0"
              class="btn btn-sm btn-outline-success mt-2"
              (click)="moveDoneToDoing()">
              Mover para 'Em andamento'
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-task-modal
 *ngIf="modalVisible"
  [visible]="modalVisible"
  (close)="modalVisible = false"
  (save)="handleTaskSave($event)">
</app-task-modal>
